[vms]
0.0.0.0 = webserver,db
1.1.1.1 = db
2.2.2.2

[chaos]
enabled = True
#Run probability (should be between 0 and 1)
probability = 0.6
# Cool-off period (in hours)
cooloff = 24

[chaos_schedule]
#trigger = cron
minute = */5

[security]
enabled = True

[security_schedule]
#trigger = interval
weeks = 1

